<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Page</title>
    <meta name="description" content="Login page for accessing the application.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/login.css">
</head>

<body>
<div class="container">
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email or phone number" required>
            <p id="errorEmail" style="display:none; color: #e50914;">Please enter a valid email address or phone
                number.</p>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <p id="errorPassword" style="display:none; color: #e50914;">Your password must contain between 4 and 60
                characters.</p>
        </div>
        <div class="form-group">
            <button type="submit" class="button submitButton" id="signInButton">Login</button>
        </div>
    </form>
    <div class="form-group">
        <a th:href="@{/auth/signup}">Signup Page</a></div>
    </div>
</div>
</body>
</html>
