<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Page</title>
    <meta name="description" content="Login page for accessing the application.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <<link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<h1>Home Page</h1>


<div th:if="${user != null}">
    <p th:text="'Welcome, ' + ${user.username}">Welcome, User!</p>
    <form th:action="@{/auth/logout}" method="get">
        <button type="submit">Log Out</button>
    </form>

</div>
<div th:if="${user == null}">
    <a th:href="@{/auth/login}">Log In</a>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/admin}">Admin Page</a></div>
</body>
</html>
